<h1>Welcome main umbrella app</h1>
<p>Find me in app/views/welcome/main.html.erb</p>

<p>	<%= link_to "component app 1", component_one.root_url %></p>
<p><%= link_to "component app 2", component_two.root_url %></p>