<!DOCTYPE html>
<html>
<head>
  <title>Component two</title>
  <%= stylesheet_link_tag    "component_two/application", media: "all" %>
  <%= javascript_include_tag "component_two/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
